html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden; /* Allow scrolling on the root element */
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Allow the content to fill the remaining space */
  }
  .custom-navbar {
    background-color: rgba(0, 0, 0, 0.9); /* Dark overlay */
  }
  
  .content {
    padding-top: 70px; 
    overflow-y: auto; /* Allows vertical scroll */

  }
  /* Custom nav link style */
.custom-navlink {
  position: relative;
  color: white !important; /* Keep text white */
}

/* Underline effect for active menu */
.custom-navlink.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px; /* Adjust the underline position */
  width: 100%;
  height: 2px;
  background-color: white;
}
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    padding: 10px;
  }
  